version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3-stretch-browsers
    steps:
      - checkout
      - restore_cache:
          key: fornax-deps-{{ checksum "requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements/dev.txt
      - save_cache:
          key: fornax-deps-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          command: |
            . venv/bin/activate
            coverage run --source=fornax run_test.py
            coveralls
      - store_test_results:
          path: test-reports/
